/*--------------------------------
Main page + general
--------------------------------*/
:root {
    --darkBG : #423A5A;
    --lightBG : #8575B5;
    --borderColor : #192131;
    --htmlBG : black;
}
html {
    background-image: url("cloudbg.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    font-family: "Cambria Math";
}
body{
    max-width: 60%;
    display: inline-block;
    padding: 10px;
}
.pg-main-content {
    border: outset var(--borderColor) 5px;
    padding: 5px;
    background: var(--lightBG);
} #pg-banner {
  background: var(--darkBG);
    border: outset var(--borderColor) 5px;
} footer {
    text-align: center;
    margin:auto;
}  p {
   margin-left: 10px;
    font-size: larger;
} img {
    width: 100%;
} video {
    width: 100%;
} h2 {
    font-size: xx-large;
    background: var(--darkBG);
    padding: 10px;
    border: outset var(--borderColor) 5px;
}  #info-list li {
      display: inline-block;
      background-color: var(--lightBG);
      padding: 5px;
  } h3 {
    font-size: x-large;
    }

/*--------------------------------
About
--------------------------------*/
#about-div {
    display: inline-block;
    padding-bottom: 5px;
    margin:auto;
    width: 75%;
} #about-div p {
    padding: 5px;
    margin: auto;
  }

/*--------------------------------
Custom stuff
--------------------------------*/
.myDiv {
    padding: 5px;
    border: outset var(--borderColor) 5px;
    background-color: var(--darkBG);
} .myUl{
  display: inline-block;
  list-style: none;
  width: 75%;
} .myLi {
    padding: 5px;
    margin-bottom: 5px;
    border: outset var(--borderColor) 5px;
    background-color: var(--lightBG);
}
  .gameList li {
      padding: 10px;
  }
/*--------------------------------
foot
--------------------------------*/
footer {
    font-style: italic;
    color: white;
}